<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style_listagem.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <h1>Usuários</h1>

<div class="novo_usuario">
    <button type="button" class="btn btn-primary" style="width: 10vw;" id="btn-novo-usuario">Novo Usuário</button>
</div>

    <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">Sexo</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Daniel</td>
            <td>daniel@gmail.com</td>
            <td>29/12/2006</td>
            <td>masculino</td>
            
            <td><button type="button" class="btn btn-primary">Atualizar</button></td>
            <td><button type="button" class="btn btn-danger">Remover</button></td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Daniel</td>
            <td>daniel@gmail.com</td>
            <td>29/12/2006</td>
            <td>masculino</td>
            
            <td><button type="button" class="btn btn-primary">Atualizar</button></td>
            <td><button type="button" class="btn btn-danger">Remover</button></td>
          </tr>
        </tbody>
      </table>
      <script src="/js/listagem.js"></script>
</body>
</html>